@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    font-family: "Metrophobic", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/imgs/HomePage\ -\ BG\ Image.png);
    background-size: auto;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 30%; */
    margin-top: 40px;
    width: 90vw;

}

nav span {
    color: white;
    font-size: 2.5vh;
}

.navButton {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-left: 10px;
    list-style: none;
    /* background: red; */
}

.navButton a {
    text-decoration: none;
    color: white;
}

.navButton button {
    background: none;
    border: none;
    font-size: 2.5vh;
    margin: 0 15px;
}

.navButton .navLogin {
    padding-left: 20px;
}

.navButton .navCadastro {
    padding-left: 40px;
    border-left: solid 2px white;
}

.navContato {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    list-style: none;
    /* background: blue; */
    margin-right: 10px;
}

.navContato i {
    font-size: 5vh;
    color: white;
}

.navContato a {
    text-decoration: none;
}

.navContato button {
    background: none;
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background: green; */
}

header .texto {
    font-size: 5rem;
    font-weight: lighter;
    line-height: 1.1;
    color: white;
    border-bottom: solid 2px white;
    overflow: hidden;
}

header .texto2 {
    font-size: 2rem;
    width: 39%;
    color: white;
    margin-left: 30px;
    margin-top: 20px;
    /* background: blue; */
}


header .texto,
header .texto2 {
    text-align: start;
    margin-right: 400px;
}

header .cabecalho {
    font-size: 5rem;
    font-weight: lighter;
    line-height: 1.1;
    color: white;
    overflow: hidden;
}

/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */
/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */
/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */
/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */
/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */

.conteudo {
    width: 100%;
    height: 110vh;
    background: #161616;
}

.conteudo .container {
    margin: auto;
    width: 90%;
}

.conteudo .sobreNos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background: yellow; */
}

.sobreNos span {
    width: 35%;
    font-size: xx-large;
    color: white;
}

.conteudo .imagem {
    width: 35%;
    background: green;

}

.sobreNos {
    margin: auto;
}

.conteudo .nossosServicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    width: 50%;
    margin: auto;
}

.nossosServicos h4 {
    /* text-align: center; */
    font-size: x-large;
    color: white;
}

.nossosServicos h1 {
    /* text-align: center; */
    font-size: xxx-large;
    color: #FFD700;
    text-shadow: 0 10px 4px #333333;
}

.nossosServicos img {
    display: flex;
    align-items: center;
}


/* SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS */
/* SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS */
/* SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS */

.servicos {
    height: 100vh;
    width: 100%;
}

.servicos .container {
    width: 90%;
    margin: auto;
    /* background: red; */
}

.servicos .boxContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 80vh;
    /* background: gray; */
    gap: 30px;
    margin: 100px 0 40px 0;
}

.box {
    width: 20vw;
    height: 45vh;
    text-align: center;
    background: #FFC300;
    border-radius: 8px;
    box-shadow: -10px 10px 2px #a7a7a7;
}

.textoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 50vh;
    gap: 30px;
}

.textoContainer .texto {
    display: flex;
    text-align: start;
    border-left: solid 2px gray;
    width: 45%;
    height: fit-content;
    font-size: 3vh;
    margin-left: 50px;
    padding-left: 20px;
    ;
}

.textoContainer .imagem {
    width: 38vw;
    height: 35vh;
    left: 500px;
}





.explicacao {
    width: 100%;
    height: 40vh;
    background: #161616;
}

.explicacao .container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: auto;
    width: 80%;
    height: 100%;
}

.explicacao .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    width: 40%;
    height: 80%;
    text-align: start;
}

.explicacao h2 {
    font-size: x-large;
    margin-top: 30px;
}

.explicacao h1 {
    font-size: xxxxx-large;
}

.localizacao {
    height: 40%;
    width: 100%;
    overflow: hidden;
}

.localizacao img {
    position: absolute;
    right: 150px;
    transform: translateY(-300px);
    zoom: 90%;
    background: rgb(206, 206, 206);
    border-radius: 8px;
    border: solid 5px white;
}





footer {
    height: 50vh;
    width: 100%;
    background: #FFC300;
    border-top: solid 2px rgb(184, 184, 184);
}

footer .container {
    margin: auto;
    width: 80%;
    height: 100%;
    /* background: red; */
}

footer .superior {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    ;
    /* background: blue; */
}

footer .embaixo {
    width: 100%;
    height: 15%;
    display: flex;
    border-top: 2px solid white;
    padding-top: 30px;
    gap: 30px;
    /* background: blue; */
}

footer .esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: rebeccapurple; */
}

footer .direito {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
    height: auto;
    width: 55%;
}

.esquerdo p {
    width: 70%;
    font-family: "Metrophobic", sans-serif !important;
    font-size: 40px;
}

.esquerdo .social {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.esquerdo .social i {
    -webkit-text-stroke: 2px #353535;
    color: #FFC300;
    font-size: 6vh;
}

.esquerdo .boxContato {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.boxContato input {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 20px;
    padding-left: 20px
}

.boxContato button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    background: #555555;
    color: white;
}

.direito a {
    color: black;
    text-decoration: underline;

}
