@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    font-family: "Metrophobic", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/imgs/HomePage\ -\ BG\ Image.png);
    background-size: auto;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 30%; */
    margin-top: 40px;
    width: 90vw;

}

nav span {
    color: white;
    font-size: 2.5vh;
}

.navButton {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-left: 10px;
    list-style: none;
    /* background: red; */
}

.navButton a{
    text-decoration: none;
    color: white;
}

.navButton button {
    background: none;
    border: none;
    font-size: 2.5vh;
    margin: 0 15px;
}

.navContato {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    list-style: none;
    /* background: blue; */
    margin-right: 10px;
}

.navContato i {
    font-size: 5vh;
    color: white;
}

.navContato a {
    text-decoration: none;
}

.navContato button {
    background: none;
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background: green; */
}

header .texto {
    font-size: 5rem;
    font-weight: normal;
    line-height: 1.1;
    color: white;
    border-bottom: solid 2px white;
    overflow: hidden;
}

header .texto2 {
    font-size: 2rem;
    width: 39%;
    color: white;
    /* background: blue; */
}

header .texto, header .texto2{
    text-align: start;
    margin-right: 400px;

}

/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */
/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */
/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */
/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */
/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */

.conteudo {
    width: 100%;
    height: 110vh;
    background: #161616;
}

.conteudo .container {
    margin: auto;
    width: 90%;
}

.conteudo .sobreNos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background: yellow; */
}

.sobreNos span {
    width: 35%;
    font-size: xx-large;
    color: white;
}

.conteudo .imagem {
    width: 35%;
    background: green;

}

.sobreNos {
    margin: auto;
}

.conteudo .nossosServicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    width: 50%;
    margin: auto;
}

.nossosServicos h4 {
    /* text-align: center; */
    font-size: x-large;
    color: white;
}

.nossosServicos h1 {
    /* text-align: center; */
    font-size: xxx-large;
    color: #FFD700;
    text-shadow: 0 10px 4px #333333;
}

.nossosServicos img {
    display: flex;
    align-items: center;
}


/* SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS */
/* SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS */
/* SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS */

.servicos {
    height: 80vh;
    width: 100%;
}

.servicos .container {
    width: 90%;
    margin: auto;
    /* background: red; */
}

.servicos .boxContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 60%;
    /* background: gray; */
    gap: 30px;
}

.box {
    width: 30%;
    text-align: center;
    background: #FFC300;
    border-radius: 8px;
    box-shadow: -10px 10px 2px #a7a7a7;
}
