@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    font-family: "Metrophobic", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-image: url(../assets/imgs/LALALA.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 30%; */
    margin-top: 40px;
    width: 90vw;

}

nav span {
    color: white;
    font-size: 2.5vh;
}

.navButton {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-left: 10px;
    list-style: none;
    /* background: red; */
}

.navButton a {
    text-decoration: none;
    color: white;
    transition: ease 0.5s;
}

.navButton a:hover {
    color: orange;
    transition: ease 0.5s;
}

.navButton button {
    background: none;
    border: none;
    font-size: 2.5vh;
    margin: 0 15px;
}

.navButton .navLogin {
    padding-left: 20px;
}

.navButton .navCadastro {
    padding-left: 40px;
    border-left: solid 2px white;
}

.navContato {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    list-style: none;
    /* background: blue; */
    margin-right: 10px;
}

.navContato i {
    font-size: 5vh;
    color: white;
}

.navContato a {
    text-decoration: none;
}

.navContato button {
    background: none;
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background: green; */
}

header .texto {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.1;
    color: white;
    border-bottom: solid 2px white;
    overflow: hidden;
 
}

header .texto2 {
    font-size: 2rem;
    width: 39%;
    color: white;
    margin-left: 30px;
    margin-top: 20px;
    /* background: blue; */
}

header .texto,
header .texto2 {
    text-align: start;
    margin-right: 400px;
}

header span {
    color: rgb(46, 235, 46);
}

header .cabecalho {
    font-size: 5rem;
    font-weight: lighter;
    line-height: 1.1;
    color: white;
    overflow: hidden;
}

/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */
/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */
/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */
/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */
/* CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO CONTEUDO  */

.conteudo {
    width: 100%;
    height: 110vh;
    background: #161616;
}

.conteudo .container {
    margin: auto;
    width: 90%;
}

.conteudo .sobreNos {
    width: 100%;
    height: 60vh;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    /* background: yellow; */
}

.sobreNos span {
    display: flex;
    align-self: center;
    width: 35%;
    font-size: 3vh;
    color: white;
}

.conteudo .imagem {
    width: 30%;
    background: green;
}

.conteudo .nossosServicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 50%;
    margin: auto;
}

.nossosServicos h4 {
    /* text-align: center; */
    font-size: x-large;
    color: white;
}

.nossosServicos h1 {
    /* text-align: center; */
    width: 65vw;
    font-size: 5vw;
    color: #FFD700;
    text-shadow: 0 10px 4px #333333;
}

.nossosServicos img {
    display: flex;
    align-items: center;
}


/* SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS */
/* SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS */
/* SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS SERVIÇOS */

.servicos {
    height: 100vh;
    width: 100%;
}

.servicos .container {
    width: 90%;
    margin: auto;
    /* background: red; */
}

.servicos .boxContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 80vh;
    /* background: gray; */
    gap: 30px;
    margin: 7vh;
}

.box {
    width: 20vw;
    height: 45vh;
    text-align: center;
    background: #FFC300;
    border-radius: 8px;
    box-shadow: -10px 10px 2px #a7a7a7;
}

.textoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    height: auto;
    gap: 30px;
    margin: 5vh 0 5vh 0;
}

.textoContainer .texto {
    display: flex;
    text-align: start;
    border-left: solid 2px gray;
    width: 45%;
    height: fit-content;
    font-size: 3vh;
    margin-left: 7.6vh;
    padding-left: 3vh;
    ;
}

.textoContainer .imagem {
    width: 38vw;
    height: 35vh;
    left: 500px;
}

/* EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO  */
/* EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO  */
/* EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO  */
/* EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO  */
/* EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO EXPLICAÇÃO  */

.explicacao {
    width: 100%;
    height: 40vh;
    background: #161616;
}

.explicacao .container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: auto;
    width: 80%;
    height: 100%;
}

.explicacao .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    width: 40%;
    height: 80%;
    text-align: start;
}

.explicacao h2 {
    font-size: x-large;
    margin-top: 30px;
}

.explicacao h1 {
    font-size: xxxxx-large;
}

.localizacao {
    height: 40%;
    width: 100%;
    overflow: hidden;
}

.localizacao img {
    position: absolute;
    right: 150px;
    transform: translateY(-300px);
    zoom: 80%;
    background: rgb(206, 206, 206);
    border-radius: 8px;
    border: solid 5px white;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */

footer {
    height: 50vh;
    width: 100%;
    background: #FFC300;
    border-top: solid 2px rgb(184, 184, 184);
}

footer .container {
    margin: auto;
    width: 80%;
    height: 100%;
    /* background: red; */
}

footer .superior {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    ;
    /* background: blue; */
}

footer .embaixo {
    width: 100%;
    height: 15%;
    display: flex;
    border-top: 2px solid white;
    padding-top: 30px;
    gap: 30px;
    /* background: blue; */
}

footer .esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: rebeccapurple; */
}

footer .direito {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
    height: auto;
    width: 55%;
}

.esquerdo p {
    width: 70%;
    font-family: "Metrophobic", sans-serif !important;
    font-size: 40px;
}

.esquerdo .social {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.esquerdo .social i {
    -webkit-text-stroke: 2px #353535;
    color: #FFC300;
    font-size: 6vh;
    transition: ease 0.3s;
    cursor: pointer;
}

.esquerdo .social i:hover {
    color: white;
    /* -webkit-text-stroke: 1px white; */
    transition: ease 0.3s;
}


.esquerdo .boxContato {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.boxContato input {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 20px;
    padding-left: 20px
}

.boxContato button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    background: #555555;
    color: white;
}

.direito a {
    color: black;
    text-decoration: underline;
}

/* QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS  */
/* QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS  */
/* QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS QUEMSOMOS  */

.quemSomos {
    height: 80vh;
    width: 100%;
    /* background: red; */
}

.quemSomos .container {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.quemSomos .texto {
    width: 60%;
    height: 50%;
    /* background: red; */
}

.quemSomos .texto h2 {
    font-size: 55px;
}

.quemSomos .texto p {
    font-size: 20px;
    color: #295897;
    margin-top: 10px;
}

.quemSomos img {
    zoom: 40%;
}

/* EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE  */
/* EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE  */
/* EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE EQUIPE  */

.equipe {
    height: auto;
    width: 100%;
    padding: 50px 0;
}

.equipe .container {
    width: 80%;
    height: 100%;
    margin: auto;
    /* display: flex; */
    /* background: blue; */
}

h1 {
    margin-bottom: 20px;
}

.boxSuperior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.boxInferior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.equipe .box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 4px;
    box-shadow: none;
    height: calc(45vh + 50px);
    width: 30%;
    border: solid 3px #FFC300;
}

.equipe .box.b1 {
    background-image: url(../assets/imgs/memes-de-gatos.jpg);
    background-size: cover;
    padding: 10px;
    border-radius: 8px;
}

.equipe .box.b2 {
    background-image: url(../assets/imgs/gato-teste2.jpg);
    background-size: cover;
    padding: 10px;
    border-radius: 8px;
}

.equipe .box.b3 {
    background-image: url(../assets/imgs/gato-em-pe.jpg);
    background-size: cover;
    padding: 10px;
    border-radius: 8px;
}

.equipe .box.b4 {
    background-image: url(../assets/imgs/huh.jpg);
    background-size: cover;
    padding: 10px;
    border-radius: 8px;
}

.equipe .box.b5 {
    background-image: url(../assets/imgs/cato.jpg);
    background-size: cover;
    padding: 10px;
    border-radius: 8px;
}

.equipe .box.b6 {
    background-image: url(../assets/imgs/Cute-Cat.jpg);
    background-size: cover;
    padding: 10px;
    border-radius: 8px;
}

.linkedIn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 15%;
    background: white;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 10px;
}

.linkedIn p {
    font-size: 20px;
}

.linkedIn i {
    right: 10px;
    font-size: 40px;
}


/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */

.footer2 {
  background: #161616;
  color: white;  
} 

.footer2 .superior {
    height: 55%;
}

.footer2 .direito {
    display: flex;
    flex-direction: column;
}

.footer2 .social i{
    -webkit-text-stroke: transparent;
    color: white;
    cursor: pointer;
}

.footer2 .social i:hover {
    color: #FFC300;
}

.footer2 .boxContato {
    display: flex;
    justify-content: space-around;
    width: 60%;
    /* background: rebeccapurple; */
}

.footer2 input {
    width: 65%;
}

.footer2 button {
    background: #FFD700;
    color: black;
}

.footer2 .button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

.footer2 a {
    color: white;
    font-size:15px;
}

.footer2 .button button {
    background: transparent;
    border: none;
}

.footer2 .button a:hover {
    color: #FFC300;
}


